body {
    background-color: brown;
}
header{
    width: 100%;
}

.banner{
    width: 100%;
}

.container{
    width: 80%;
    background-color: aqua;
    margin: auto;
}

footer{background-color: blue;}